
img[src="general/linea.png"]{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}


/*Slide 1*/

#txt1Sld1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

#txt2Sld1{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

#logoPie{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}


/*Slide2*/

/*Slide3*/

#txt1Sld3{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}



#bloqIzqSld3, #bloqDerSld3{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}


/*Slide4*/

#txt1Sld4{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

#tablaSld4{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

#lineaVertical{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

#texto2Sld4{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#barra1{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#barra2{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

#barra3{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

#barra4{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

#barra5{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

#barra6{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

#barra7{
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

#barra8{
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

#barra9{
	-webkit-animation-delay: 5.5s;
	-o-animation-delay: 5.5s;
	animation-delay: 5.5s;
}

#barra10{
	-webkit-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}

#barra11{
	-webkit-animation-delay: 6.5s;
	-o-animation-delay: 6.5s;
	animation-delay: 6.5s;
}

#barra12{
	-webkit-animation-delay: 7s;
	-o-animation-delay: 7s;
	animation-delay: 7s;
}

#barra13{
	-webkit-animation-delay: 7.5s;
	-o-animation-delay: 7.5s;
	animation-delay: 7.5s;
}

/*Slide5*/

#txt1Sl5{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

#cuadro1Sld5{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#cuadro2Sld5{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

#cuadro3Sld5{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

#cuadro4Sld5{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

#cuadro5Sld5{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

#txtPieSld5{
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

/*Slide6*/

#txt1Sld6{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

#casaSld6{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

#cuadro1Sld6{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

#cuadro2Sld6{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

#cuadro3Sld6{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

#cuadro4Sld6{
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

#cuadro5Sld6{
	-webkit-animation-delay: 5.5s;
	-o-animation-delay: 5.5s;
	animation-delay: 5.5s;
}

#txtPieSld6{
	-webkit-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}

/*slide7*/

#txt1Sld7{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

#txt2Sld7{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#cuadro1Sld7, #cuadro2Sld7, #cuadro3Sld7{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

#tablaSld7{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

#txt3Sld7{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

/*Slide8*/

#txt1Sld8{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

#txt2Sld8{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

#relojSld8{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#cuadro1Sld8, #cuadro2Sld8{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

#txtPieSld8{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}


/*Slide9*/

#txt1Sld9{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
#txt2Sld9{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#tablaSld9{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
#barra1Sld9{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#barra2Sld9{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#barra3Sld9{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#infoSld9{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txt3Sld9{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#txtPieSld9{
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
}


/*Slide10*/

#txt1Sld10{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

#tablaSld10{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#barra1sld10{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
#barra2sld10{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#barra3sld10{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#barra4sld10{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#barra5sld10{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#barra6sld10{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#txt2Sld10{
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}
#txtPieSld10{
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

/*Slide11*/


#txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
#linea1, #linea2{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#txt2{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#lineaVertical{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#linea3, #linea4{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt3{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#txt4{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#txt5{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}


/*Slide12*/

#txt1{
	-webkit-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
#txt2{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#tabla{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#txtPie{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#barra1{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#barra2{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#barra3{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

/*Slide13*/

#txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
#txt2{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#tabla{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
#txtBarra1,
#barra1{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txtBarra2,
#barra2{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txtBarra3,
#barra3{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#txtBarra4,
#barra4{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#txtBarra5,
#barra5{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#txtPie{
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

/*Slide14*/


#txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
#txt2{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#tabla{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#barra1{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#barra2{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#barra3{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#barra4{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#txtPie{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

/*Slide15*/


#txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
#txt2{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#tabla{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#txtbarra1{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#barra1{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txtBarra2{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#barra2{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txtPie{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

/*Slide16*/

.slide16 #txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
.slide16 #img1{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.slide16 #img2{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.slide16 #img3{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.slide16 #img4{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.slide16 #separador{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.slide16 #txt2{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
.slide16 #txt3{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.slide16 #txtPie{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

.slide17 #txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.slide17 #txt2{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.slide17 #tabla{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.slide17 #txtPie{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

/*Slide18*/

.slide18 #txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
.slide18 #txt2{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
.slide18 #txt3{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
.slide18 #semaforo{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.slide18 #calle{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.slide18 #peaton{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

/*Slide19*/

.slide19 #txt1{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
.slide19 #txt2{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.slide19 #txt3{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.slide19 #chk1{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.slide19 #chk2{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.slide19 #chk3{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
.slide19 #imagen{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.slide19 #txtPie{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
