body {
	margin: 0;
	padding: 0;
}
.seccion{
	position: absolute;
	top: 15px;
	left: 30px;
}
#contenedor {
	background: url(../general/fondo-todos.jpg) no-repeat left top #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedorIni {
	background: #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#btnAnt {
	height: 27px;
	left: 899px;
	position: absolute;
	top: 16px;
	width: 27px;
}
#btnHome {
	height: 36px;
	left: 937px;
	position: absolute;
	top: 8px;
	width: 39px;
}
#btnSig {
	height: 27px;
	left: 986px;
	position: absolute;
	top: 16px;
	width: 27px;
}


#linea {
	position: absolute;
	width: 848px;
	height: 3px;
	left: 89px;
	top: 150px;
}


#txt1 {
	position: absolute;
	width: 514px;
	height: 29px;
	left: 253px;
	top: 97px;
}
#txt2 {
	position: absolute;
	width: 665px;
	height: 63px;
	left: 179px;
	top: 184px;
}
#tabla {
	position: absolute;
	width: 869px;
	height: 316px;
	left: 77px;
	top: 300px;
}
#txtbarra1 {
	position: absolute;
	width: 233px;
	height: 42px;
	left: 276px;
	top: 344px;
}
#barra1 {
	position: absolute;
	width: 138px;
	height: 120px;
	left: 323px;
	top: 403px;
}
#txtBarra2 {
	position: absolute;
	width: 240px;
	height: 42px;
	left: 645px;
	top: 332px;
}
#barra2 {
	position: absolute;
	width: 139px;
	height: 142px;
	left: 696px;
	top: 382px;
}
#txtPie {
	position: absolute;
	width: 260px;
	height: 17px;
	left: 70px;
	top: 685px;
}




