body {
	margin: 0;
	padding: 0;
}
.seccion{
	position: absolute;
	top: 15px;
	left: 30px;
}
#contenedor {
	background: url(../general/fondo-todos.jpg) no-repeat left top #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedorIni {
	background: #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#btnAnt {
	height: 27px;
	left: 899px;
	position: absolute;
	top: 16px;
	width: 27px;
}
#btnHome {
	height: 36px;
	left: 937px;
	position: absolute;
	top: 8px;
	width: 39px;
}
#btnSig {
	height: 27px;
	left: 986px;
	position: absolute;
	top: 16px;
	width: 27px;
}

#txt1 {
	position: absolute;
	width: 727px;
	height: 42px;
	left: 148px;
	top: 97px;
}
#linea {
	position: absolute;
	width: 848px;
	height: 3px;
	left: 89px;
	top: 150px;
}
#linea1 {
	position: absolute;
	width: 387px;
	height: 5px;
	left: 87px;
	top: 190px;
}
#txt2 {
	position: absolute;
	width: 387px;
	height: 307px;
	left: 87px;
	top: 215px;
}
#linea2 {
	position: absolute;
	width: 387px;
	height: 30px;
	left: 87px;
	top: 530px;
}
#lineaVertical {
	position: absolute;
	width: 3px;
	height: 370px;
	left: 510px;
	top: 190px;
}
#linea3 {
	position: absolute;
	width: 387px;
	height: 5px;
	left: 548px;
	top: 190px;
}
#txt3 {
	position: absolute;
	width: 387px;
	height: 222px;
	left: 548px;
	top: 215px;
}
#linea4 {
	position: absolute;
	width: 387px;
	height: 30px;
	left: 548px;
	top: 530px;
}
#txt4 {
	position: absolute;
	width: 341px;
	height: 11px;
	left: 595px;
	top: 590px;
}
#txt5 {
	position: absolute;
	width: 255px;
	height: 29px;
	left: 70px;
	top: 688px;
}




