body {
	margin: 0;
	padding: 0;
}
.seccion{
	position: absolute;
	top: 15px;
	left: 30px;
}
#contenedor {
	background: url(../general/fondo-todos.jpg) no-repeat left top #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedorIni {
	background: #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#btnAnt {
	height: 27px;
	left: 899px;
	position: absolute;
	top: 16px;
	width: 27px;
}
#btnHome {
	height: 36px;
	left: 937px;
	position: absolute;
	top: 8px;
	width: 39px;
}
#btnSig {
	height: 27px;
	left: 986px;
	position: absolute;
	top: 16px;
	width: 27px;
}


#linea {
	position: absolute;
	width: 848px;
	height: 3px;
	left: 89px;
	top: 130px;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}


#txt1 {
	position: absolute;
	width: 144px;
	height: 31px;
	left: 201px;
	top: 98px;
	-webkit-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}
#cuadro1 {
	position: absolute;
	width: 151px;
	height: 219px;
	left: 70px;
	top: 218px;
	-webkit-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
#cuadro2 {
	position: absolute;
	width: 391px;
	height: 41px;
	left: 228px;
	top: 218px;
	-webkit-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
#cuadro3 {
	position: absolute;
	width: 392px;
	height: 169px;
	left: 228px;
	top: 268px;
	-webkit-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;

}
#cuadro4 {
	position: absolute;
	width: 326px;
	height: 41px;
	left: 628px;
	top: 218px;
	-webkit-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
#cuadro5 {
	position: absolute;
	width: 326px;
	height: 169px;
	left: 628px;
	top: 268px;
	-webkit-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
#cuadro6 {
	position: absolute;
	width: 151px;
	height: 153px;
	left: 70px;
	top: 451px;
	-webkit-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
#cuadro7 {
	position: absolute;
	width: 392px;
	height: 153px;
	left: 228px;
	top: 451px;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}



