body {
	margin: 0;
	padding: 0;
}
.seccion{
	position: absolute;
	top: 15px;
	left: 30px;
}
#contenedor {
	background: url(../general/fondo-todos.jpg) no-repeat left top #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedorIni {
	background: #FFFFFF;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#btnAnt {
	height: 27px;
	left: 899px;
	position: absolute;
	top: 16px;
	width: 27px;
}
#btnHome {
	height: 36px;
	left: 937px;
	position: absolute;
	top: 8px;
	width: 39px;
}
#btnSig {
	height: 27px;
	left: 986px;
	position: absolute;
	top: 16px;
	width: 27px;
}


#linea {
	position: absolute;
	width: 848px;
	height: 3px;
	left: 89px;
	top: 150px;
}


#txt1 {
	position: absolute;
	width: 514px;
	height: 29px;
	left: 112px;
	top: 104px;
}
#txt2 {
	position: absolute;
	width: 665px;
	height: 63px;
	left: 152px;
	top: 170px;
}



